@model demo_3._0.Models.po_avise_entrance_unloading

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>po_avise_entrance_unloading</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ordered_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ordered_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unloading_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unloading_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type_of_verhicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_of_verhicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrival_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.po_avise_requests.material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.po_avise_requests.material)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.uid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
