@model IEnumerable<Demo_4._0.Models.po_avise_requests>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.material)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unloading)
        </th>
        <th>Actions</th>
        <th>Add transportation</th>
        <th>Add Unloading Advise</th>

    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.material)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unloading)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.uid }) |
            @Html.ActionLink("Details", "Details", new { id = item.uid }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.uid })
        </td>
        <td>
            @Html.ActionLink("Transport erstellen", "Create", "Transportations", new { fk_po_avise_request_uid = (item.uid) }, null)

        </td>
        <td>
            @Html.ActionLink("Entrance details", "Create", "Entrance", new { fk_po_avise_request_uid = (item.uid) }, null)

        </td>
        <td>
        </td>
    </tr>
}

</table>
